.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 0.2px solid #8787870d;
  padding: 5px;
  border-radius: 10px;
  background: #f6f6f6;
  border-bottom: 10px solid #54BFEB;
  border-top: 10px solid #54BFEB;
  transition: all 300ms ease-in-out;
  cursor: pointer ;
  width: 500px;
  box-shadow: 2px 2px 20px rgba(80, 80, 80, 0.4);
}

.container h1 {
  color: #54BFEB;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline-color: #21B4BD;
  border-radius: 5px;
}

.form button {
  border-radius: 10px;
  height: 40px;
  width: 150px;
  text-align: center;
  border: 1px solid #54BFEB;
  cursor: pointer;
  background-color: white;
  font-weight: 600;
  font-size: 1rem;
  color: #54BFEB;
  transition: all 300ms ease-in-out;
}

.form button:hover {
  background-color: #54BFEB;
  color: white;
}
