.app {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.sidebar {
  color: var(--white);
  background: var(--blue);
  min-height: 100vh;
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
}

.main {
  margin-left: 300px;
  padding: 50px;
}

.btn {
  padding: 7px 14px;
  color: #effcf6;
  background-color: var(--blue);
  border-color: var(--blue);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.iconfunction {
  width: 100%;
  display: flex;
  align-items: center;
}

.iconfunction:hover {
  color: #000066;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.btn:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}
